<div class="about">
  <div>
    <h3>Why lemonfy?</h3>
    <p>We created this web app so that finding and writing company reviews can be easy and fun for you!</p>
  </div>
  <div class='separator'></div>
  <div>
    <h3>Authentic reviews</h3>
    <p>A rating submitted here is not visible until the reviewer clicks a link in the verification email we send to her/his corporate email account. This way, we can be sure that reviews are written by people who really work for the company.</p>
  </div>
  <div>
    <h3>Truly anonymous</h3>
    <p>We don't keep your corporate email address. We just keep its <span class="my-tooltip" tooltip="The hash for steve@apple.com is 7f1e9d89... (40 characters long), which is unique and there is no way to convert the email back from its hash">hash</span> for 3 months so that one email address can only do one review within this period. That is, you are free to submit different reviews but only the last verified will be kept. If a review does not change after 3 months we will erase the hash and the review becomes "history" for good.</p>
  </div>
  <div>
    <h3>One rating rules all</h3>
    <p>Instead of having to rate on different factors, like "culture", "compensation", etc, you just pick one rating. Done. In case you want to share your thoughts with the world we have provided a comments area ;-)</p>
  </div>
  <div class='separator'></div>
  <div>
    <h3>About the team</h3>
    <p>We are a small group of veteran engineers living in Vancouver of beautiful British Columbia. We work for big name companies that make enterprise software, but in spare time we are obsessed with building simple, free and <a class="my-link" href='https://github.com/lemonfy/lemonfy'>open</a> apps that can serve millions of people. We would really really love to hear from you if there is anything we can do to make this world a better place :-) We can be reached by <a class="my-link" href="http://twitter.com/lemonfyteam">twitter</a> or email: team at lemonfy dot com</p>
  </div>
  <br>

</div>
