<div ng-if="showLoading" class="spinner"></div>

<div ng-if="!showLoading" class="panel panel-default company-submit-panel">
  <div class="my-panel-heading"><h4>Add Company Profile</h4></div>
  <div class="panel-body">
    <form ng-submit="submit()" name="form" novalidate>
      <div class="form-group" ng-class="{'has-error': form.name.$invalid && submitted}">
        <label class="control-label" for="name">Name</label>
        <input class="form-control" name="name" type="text" init-focus="" required ng-minlength="2" ng-maxlength="200" ng-model="company.name" />
<!--        <span class="help-block">Eg: Yahoo!, IBM</span>-->
      </div>

      <div class="form-group" ng-class="{'has-error': form.domain.$invalid && submitted}">
        <label class="control-label" for="domain">Corporate Email Domain</label>
        <input class="form-control" name="domain" type="text" required ng-model="company.domain" ng-pattern="domainRegex" ng-maxlength="50" ng-change="onDomainChange()" />
<!--        <span class="help-block">Eg: yahoo-inc.com, ibm.com</span>-->
      </div>

      <div class="form-group" ng-class="{'has-error': form.webDomain.$invalid && submitted}">
        <label class="control-label" for="webDomain">Corporate Website Domain</label>
        <input class="form-control" name="webDomain" type="text" ng-model="company.webDomain" ng-pattern="domainRegex" maxlength="50" />
<!--        <span class="help-block">Eg: yahoo.com</span>-->
      </div>

<!--      <div class="checkbox">-->
<!--        <label class='checkbox-captcha'>-->
<!--          <input class='real-human-checkbox' type="checkbox">I am a real human-->
<!--        </label>-->
<!--      </div>-->

      <button type="submit" class="btn btn-default submit-btn" >Submit</button>

    </form>
  </div>
</div>
